%h1= @team.name

#roster
  %h3 Roster

  .well
    = form_for :team_membership, url: team_memberships_path do |f|
      = f.hidden_field :team_id, value: @team.id
      = f.collection_select(:user_id, User.not_on_team(@team), :id, :name, {:include_blank => "Select User"}, {:class => 'chzn-select'})
      = f.submit "Add Member", class: "btn"

  %table.members
    %thead
      %tr
        %th Name
        %th Actions
    %tbody
      - @team.members.each do |member|
        %tr{id: "member-#{member.id}", class: "member"}
          %td= link_to member.name, user_path(member)
          %td
            - unless @team.is_admin?(member)
              = form_for member.membership_with(@team) do |f|
                = f.hidden_field :role, value: 'admin'
                = f.submit 'Make Admin', class: 'btn', rel: 'make-admin'
            = button_to "Remove User", team_membership_path(@team.team_memberships.where(user_id: member.id).first), :method => :delete,  class: 'btn danger', rel: 'delete-team-membership'