%h1= @user.name
%p Email: #{@user.email}
- if current_user && current_user.following?(@user)
  = button_to "Unfollow", user_follow_path(@user.to_param), :method => :delete, class: "btn"
- elsif current_user
  = button_to "Follow", user_follows_path(@user.to_param), class: "btn"

%h3 Updates
- if @updates.empty?
  %p This user doesn't have any updates yet!
- else
  %ul
    - @updates.each do |update|
      %li
        = link_to @user.name, user_path(@user)
        = update.content