!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %title Myapp
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body{:class => params[:controller]}
    .topbar-wrapper
      .topbar
        .topbar-inner
          .container
            %a.brand{href: root_url} PBConnect
            %ul.nav
              %li= link_to "Users", users_path
              %li= link_to "Teams", teams_path
            %ul.nav.account-nav
              = render 'shared/navigation'
    #container.container
      - unless flash.empty?
        .row
          .span16
            - if flash[:notice]
              .alert-message.info
                %a.close{href: "#"} x
                %p= flash[:notice]
            - if flash[:error]
              .alert-message.error
                %a.close{href: "#"} x
                %p
                  %strong Uh oh!
                  = flash[:error]
            - if flash[:success]
              .alert-message.success
                %a.close{href: "#"} x
                %p
                  %strong It worked!
                  = flash[:success]
            - if flash[:alert]
              .alert-message.warning
                %a.close{href: "#"} x
                %p
                  %strong Whoa there!
                  = flash[:alert]
      #main{:role => "main"}
        = yield
      %footer